@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,700,400);
/*

File Name : style.sass
Package Name : MyCopie Athena
Language : SASS
Author : Rohan Krishna
Version : 0.1
Compiled Using : Scout
Platform : Widows
GitHub : rohan-krishna/mycopie-athena.git

*/
/*

Global Layout Designs

*/
/* line 27, ../../sass/style.scss */
.page-wrapper {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

/* line 30, ../../sass/style.scss */
.page-wrapper.overlay-open {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* line 34, ../../sass/style.scss */
html, body {
  font-family: "Roboto", sans-serif;
}

/* line 37, ../../sass/style.scss */
.header {
  border-top: 3px solid #2196F3;
  background: #42A5F5;
}
/* line 41, ../../sass/style.scss */
.header h1 {
  color: #fff;
}

/* line 45, ../../sass/style.scss */
.search-form {
  width: 100%;
  overflow: hidden;
}

/* line 49, ../../sass/style.scss */
.search-bar {
  display: table;
}
/* line 53, ../../sass/style.scss */
.search-bar input[type="text"] {
  font-size: 1em;
  display: inline-block;
  width: 100%;
  max-height: 47px;
  border-color: #2196f3;
  overflow: hidden;
  padding: 0.52em;
  font-weight: 400;
  margin-top: 5.0%;
  background: #42A5F5;
  color: #ddd;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
/* line 67, ../../sass/style.scss */
.search-bar input[type="text"]::-webkit-input-placeholder {
  color: #ddd;
}
/* line 71, ../../sass/style.scss */
.search-bar input[type="text"]:focus {
  background: #fff;
  color: #333;
}

/* line 77, ../../sass/style.scss */
a {
  color: #2196f3;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 81, ../../sass/style.scss */
a:hover {
  color: #333;
}

/* line 85, ../../sass/style.scss */
input[type="submit"] {
  background: #2196f3;
  border: 0;
  box-shadow: none;
  text-shadow: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  padding: 1.52em;
  margin: 0.52em auto;
}

/* 

Re-usable Code Snippets

*/
/* line 103, ../../sass/style.scss */
.text-center {
  text-align: center;
}

/* line 106, ../../sass/style.scss */
.margin-top-152 {
  margin: 1.52em 0;
}

/* line 110, ../../sass/style.scss */
h1, h2, h3, h4, h5 {
  font-weight: 700;
}

/* line 114, ../../sass/style.scss */
.btn-bars {
  display: block;
  widows: 100%;
  height: 45px;
  background: #333;
}

/* line 120, ../../sass/style.scss */
.btn-bar {
  width: 75%;
  margin: 1% auto;
  background: #fff;
  height: 2px;
}

/* line 126, ../../sass/style.scss */
.btn-bar:nth-child(1) {
  margin-top: 1.52em;
}

/* line 129, ../../sass/style.scss */
.padding--152 {
  padding: 1.52em;
}

/* line 135, ../../sass/style.scss */
#colored-btn a {
  color: #fff;
  font-weight: 700;
}

/* line 144, ../../sass/style.scss */
.btn-more a {
  background: #2196F3;
}
/* line 147, ../../sass/style.scss */
.btn-more a:hover {
  background: #42A5F5;
}

/* line 153, ../../sass/style.scss */
.slide-wrapper {
  max-width: 50%;
  margin: 0 auto;
}

/* line 157, ../../sass/style.scss */
#outline {
  border: 1em solid #eee;
}

/* line 160, ../../sass/style.scss */
.divider {
  max-width: 30%;
  margin: 1.52em auto;
  height: 1px;
  background: #ddd;
}

/* line 166, ../../sass/style.scss */
.txt-shadow {
  text-shadow: 6px 6px 15px #333;
}

/* line 170, ../../sass/style.scss */
.fa-stack {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 174, ../../sass/style.scss */
.fa-stack-1x {
  text-shadow: 6px 6px 15px #333;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 178, ../../sass/style.scss */
.fa-stack:hover > .fa-stack-1x {
  text-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 182, ../../sass/style.scss */
.overlay-trigger {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 999;
  color: #333;
}

/* line 189, ../../sass/style.scss */
blockquote {
  background: #eee;
  margin: 0.5em 10px;
  padding: 1.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: center;
}

/* line 196, ../../sass/style.scss */
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 6em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* line 204, ../../sass/style.scss */
blockquote p {
  display: inline;
  font-weight: 700;
}

/* line 209, ../../sass/style.scss */
.testimonial-wrapper figure {
  max-width: 15%;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  text-align: center;
}
/* line 217, ../../sass/style.scss */
.testimonial-wrapper figure figcaption p {
  border-bottom: 1px dotted #333;
  overflow: hidden;
  display: inline-block;
  margin: 0;
}
/* line 224, ../../sass/style.scss */
.testimonial-wrapper figure img {
  height: 64px;
  max-width: 64px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

/* line 234, ../../sass/style.scss */
.header ul {
  display: inline-block;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative;
}
/* line 242, ../../sass/style.scss */
.header ul li {
  float: left;
}
/* line 246, ../../sass/style.scss */
.header ul li a {
  display: block;
  padding: 5px 10px;
  color: #333;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  z-index: 99999;
}
/* line 255, ../../sass/style.scss */
.header ul li a:hover {
  color: #fff;
}
/* line 261, ../../sass/style.scss */
.header ul li.current-menu-item a {
  background: #2196F3;
  color: #fff;
  border-bottom: 1px solid #1E88E5;
}
/* line 266, ../../sass/style.scss */
.header ul li.current-menu-item a:hover {
  color: #ddd;
}

/* line 274, ../../sass/style.scss */
.breadcrumbs a {
  color: #ddd;
}

/*-----------------------------------------------------------------------

The Wonderful CSS Flip Effect

------------------------------------------------------------------------*/
/* line 284, ../../sass/style.scss */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}

/* line 294, ../../sass/style.scss */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

/* line 304, ../../sass/style.scss */
.flip-container, .front, .back {
  width: 167px;
  height: 235px;
}

/* line 312, ../../sass/style.scss */
.flipper {
  -webkit-transition: 600ms;
  -moz-transition: 600ms;
  transition: 600ms;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* line 332, ../../sass/style.scss */
.front, .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

/* line 350, ../../sass/style.scss */
.front {
  z-index: 2;
}

/* line 356, ../../sass/style.scss */
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 366, ../../sass/style.scss */
.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*

Material Design Color Snippets

*/
/* line 380, ../../sass/style.scss */
.bg-color {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 385, ../../sass/style.scss */
.bg-color-blue {
  background: #2196F3;
}

/* line 388, ../../sass/style.scss */
.bg-color-333 {
  background: #333;
}

/* line 391, ../../sass/style.scss */
.bg-color-indigo {
  background: #3F51B5;
}

/* line 395, ../../sass/style.scss */
.fg-color-white {
  color: #f2f2f2;
}

/* line 398, ../../sass/style.scss */
.fg-color-indigo {
  color: #3F51B5;
}

/* line 401, ../../sass/style.scss */
.fg-color-red {
  color: #F44336;
}

/* line 404, ../../sass/style.scss */
.fg-color-teal {
  color: #009688;
}

/* line 407, ../../sass/style.scss */
.fg-color-green {
  color: #4CAF50;
}

/*-----------------*/
/***** Apollo *****/
/*-----------------*/
/* line 415, ../../sass/style.scss */
.single-post-entry figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 1%;
  min-width: 100%;
  max-width: 480px;
  min-height: 150px;
  max-height: 300px;
  width: 48%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

/* line 430, ../../sass/style.scss */
.single-post-entry img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

/* line 437, ../../sass/style.scss */
.single-post-entry figure figcaption {
  padding: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 446, ../../sass/style.scss */
.single-post-entry figure figcaption::before,
.single-post-entry figure figcaption::after {
  pointer-events: none;
}

/* line 451, ../../sass/style.scss */
.single-post-entry figure figcaption,
.single-post-entry figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 458, ../../sass/style.scss */
.single-post-entry figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

/* line 466, ../../sass/style.scss */
.single-post-entry figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

/* line 471, ../../sass/style.scss */
.single-post-entry figure h2 span {
  font-weight: 800;
}

/* line 476, ../../sass/style.scss */
.single-post-entry figure h2,
.single-post-entry figure p {
  margin: 0;
}

/* line 480, ../../sass/style.scss */
.single-post-entry figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* line 485, ../../sass/style.scss */
figure.effect-apollo {
  background: #3498db;
}

/* line 489, ../../sass/style.scss */
figure.effect-apollo img {
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
}

/* line 497, ../../sass/style.scss */
figure.effect-apollo figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

/* line 511, ../../sass/style.scss */
figure.effect-apollo p {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3em;
  padding: 0 1em;
  max-width: 150px;
  border-right: 4px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

/* line 525, ../../sass/style.scss */
figure.effect-apollo h2 {
  text-align: left;
}

/* line 529, ../../sass/style.scss */
figure.effect-apollo:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* line 535, ../../sass/style.scss */
figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

/* line 540, ../../sass/style.scss */
figure.effect-apollo:hover p {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/*

Page Designs & Tweaks

*/
/* line 551, ../../sass/style.scss */
.page-logo {
  display: block;
  max-width: 128px;
  margin: 1.52em 0px;
}

/*

About Us Page

*/
/* line 562, ../../sass/style.scss */
.team-slider, #buddySlider {
  text-align: center;
}
/* line 565, ../../sass/style.scss */
.team-slider img, #buddySlider img {
  border: 1px solid #ddd;
  padding: 5px;
  max-width: 150px;
  margin: 0 auto;
}

/*

Advertise Page

*/
/* line 578, ../../sass/style.scss */
.cu-line {
  background: transparent;
  border: 3px solid #f2f2f2;
}

/* line 585, ../../sass/style.scss */
.cu-madison {
  background: #2C3E50;
}

/* line 591, ../../sass/style.scss */
.cu-purple {
  background: #1F3A93;
}

/* line 597, ../../sass/style.scss */
.cu-eucal {
  background: #26A65B;
}

/* line 603, ../../sass/style.scss */
.cu-salem {
  background: #1E824C;
}

/* line 609, ../../sass/style.scss */
.cu-blue {
  background: #3498DB;
}

/* line 615, ../../sass/style.scss */
.cu-flam {
  background: #EF4836;
}

/* line 621, ../../sass/style.scss */
.cu-line {
  background: transparent;
  border: 3px solid #f2f2f2;
}

/* line 628, ../../sass/style.scss */
#heroIcon {
  overflow: hidden;
  display: table;
  width: 128px;
  height: 128px;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

/* line 650, ../../sass/style.scss */
#heroIcon a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

/* line 662, ../../sass/style.scss */
#heroIcon:hover {
  border: 3px solid rgba(255, 255, 255, 0.8);
  transition: border-width 200ms linear;
}

/* line 670, ../../sass/style.scss */
#heroIcon:active {
  transform: rotateX(15deg);
}

/* line 675, ../../sass/style.scss */
#heroIconAds {
  overflow: hidden;
  display: table;
  width: 128px;
  height: 128px;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
}

/* line 693, ../../sass/style.scss */
#heroIconAds a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 703, ../../sass/style.scss */
#heroIconAds:hover {
  background: #34AADC;
  transition: background 200ms ease-in-out;
}

/* line 711, ../../sass/style.scss */
#heroIconAds:hover a {
  color: #fff;
}

/* line 717, ../../sass/style.scss */
#heroIconAds:active {
  transform: rotateX(15deg);
}

/*

Site Footer

*/
/* line 728, ../../sass/style.scss */
.site-footer {
  background: #2196f3;
  color: #fff;
  text-align: center;
  padding: 1.52em 0;
}
